*.pyc
/venv/
__pycache__
.env
.env.dev
configs/*.json
/media/common/*
!/media/common/sample.*
/media/uncommon/*
!/media/uncommon/sample.*
/media/rare/*
!/media/rare/sample.*
/media/epic/*
!/media/epic/sample.*
/logs/
.claude/*.env
media-backup/
